.player {
    background-color: rgba(1, 1, 1, 1);
    text-align: center;
    display: flex;
    float: left;
    position: fixed;
    left: 50%;
    margin-left: -17em;
}

.controls {
    z-index: 99999;
    text-align: center;
    margin-top: 13px;
    display: block;
    float: left;
    position: fixed;
    margin-top: 363px;
    left: 50%;
    padding-left: 2px;
    margin-left: -17em;
    /*set to a negative number 1/2 of your width*/
}

.container {
    position: relative;
}

.tag {
    display: flex;
    position: fixed;
    left: 50%;
    margin-left: -23em;
    float: left;
    z-index: 1000;
    background-color: rgba(1, 1, 1, 0);
    color: #FFFFFF;
    font-weight: bold;
    pointer-events: none;
}

#video--view {
    width: 500px;
    height: 300px;
    margin-top: 5em;
}

button {
    text-indent: -9999px;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    /* url('buttons.png') */
}

progress {
    cursor: pointer;
    color: green;
    font-size: 12px;

    border: none;
    margin-right: 10px;
    background: #434343;
    border-radius: 2px;
}

.preview {
    background: url(../images/videocontrol/ic_replay.png);
}

.play {
    background: url(../images/videocontrol/ic_play.png);
}

.fast {
    background: url(../images/videocontrol/ic_next.png);
}

.slow {
    background: url(../images/videocontrol/ic_preview.png);
}

.volune {
    background: url(../images/videocontrol/ic_volune.png);
}

.fullscreen {
    background: url(../images/videocontrol/ic_fullscreen.png);
}

.title--trailer h3 {
    color: white;
    text-align: center;
}

.list--button {
    margin-top: 5px;
    display: flex;
}

.view--left {
    float: left;
    display: flex;
}

.view--right {
    margin-left: 27%;
    float: right;
    display: flex;
}

.view--time {
    display: inline-flex;
    margin-left: 10px;
    margin-top: -17px;
}

h5 {
    color: #ffffff;
}

#progress-volune {
    width: 5em;
    height: 5px;
    margin-top: 11px;
}

#progress-bar {
    width: 42em;
    height: 5px;
}

.process-volune {
    display: flex;
}